{% load staticfiles %}
<!DOCTYPE html>
<html lang="pt">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Administrador - Aluga Car</title>
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">
	<link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
	<link type="text/css" rel="stylesheet" href="{% static 'css/slick.css' %}" />
	<link type="text/css" rel="stylesheet" href="{% static 'css/slick-theme.css' %}" />
	<link type="text/css" rel="stylesheet" href="{% static 'css/nouislider.min.css' %}" />
	<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
	<link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}" />
	<link rel="icon" href="{% static 'img/icone.png' %}" />
</head>
<body>
	<header>
		<div id="header">
			<div class="container">
				<div class="row">
					<div class="col-md-9">
						<div class="header-logo">
							<img src="{% static '/img/banner.png' %}" alt="" width='225'>
						</div>
					</div>
					<div class="col-md-3 clearfix">
						<div class="header-ctn">
							<div class="dropdown">
								<a href="{% url 'home_deslog'%}" onclick="return confirm('Deseja sair?');" class="dropdown-toggle"
									aria-expanded="true">
									<i class="fa fa-user"></i>
									<span>Administrador</span></br>
									<b><span>Sair</span></b>
								</a>
							</div>
							<div class="menu-toggle">
								<a href="#">
									<i class="fa fa-bars"></i>
									<span>Menu</span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
	<nav id="navigation">
		<div class="container">
			<div id="responsive-nav">
				<ul class="main-nav nav navbar-nav">
					<li class="active"><a href="/administrador">Início</a></li>
					<li><a href="/novo/carro">Novo Veículo</a></li>
					<li><a href="/novo/modelo">Novo Modelo</a></li>
					<li><a href="/novo/marca">Nova Marca</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="section">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="section-title">
						<h3 class="title">Veículos</h3>
					</div>
				</div>
				<div class="col-md-12">
					<div class="row">
						<div class="products-tabs">
							<div id="tab1" class="tab-pane active">
								<div class="products-slick" data-nav="#slick-nav-1">
									{% for car in carros %}
									<div class="product c{{car.marca.id }}">
										<div class="product-img">
											<img src="{% static car.getfoto %}" alt="" height="180">
											{% if car.disponivel %}
											<div class="product-label">
												<span class="sale">Disponivel</span>
											</div>
											{% endif %}
										</div>
										<div class="product-body">
											<h3 class="product-name"><a href="#">{{car.descricao}}</a></h3>
											<h4 class="product-price">R$ {{car.valorDia}}</h4>
										</div>
										<div class="add-to-cart">
												<a href="{% url 'alt_carro' car.id %}"><button class="add-to-cart-btn"><i class="fa fa-pencil"></i>Editar</button></a>
										</div>
									</div>
									{% endfor %}
								</div>
								<div id="slick-nav-1" class="products-slick-nav"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="section">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="section-title">
						<h3 class="title">Carros Alugados</h3>
					</div>
				</div>
				<div class="col-md-12">
					<div class="row">
						<div class="products-tabs">
							<div id="tab2" class="tab-pane active">
								<div class="products-slick" data-nav="#slick-nav-2">
									{% for alu in alugueis %}
									<div class="product c{{alu.carrro.marca.id }}">
										<div class="product-img">
											<img src="{% static alu.carrro.getfoto %}" alt="" height="180">
										</div>
										<div class="product-body">
											<h3 class="product-name">{{alu.carrro.descricao}}</h3>
											<h4 class="product-name">{{alu.cliente}}</h4>
											<h4 class="product-price">R$ {{alu.valorPagar}}</h4>
										</div>
										<div class="add-to-cart">
												<a href="{% url 'cancelar_aluguel_admin' alu.id %}" onclick="return confirm('Deseja cancelar o aluguel deste carro?');"><button class="add-to-cart-btn"><i class="fa fa-ban"></i>Cancelar</button></a>
										</div>
									</div>
									{% endfor %}
								</div>
								<div id="slick-nav-2" class="products-slick-nav"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="section">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="section-title">
						<h3 class="title">Clientes</h3>
					</div>
				</div>
				<div class="col-md-12">
					<div class="row">
						<div class="products-tabs">
							<div id="tab3" class="tab-pane fade in active">
								<div class="products-slick" data-nav="#slick-nav-3">
									{% for user in usuarios %}
									<div class="product c{{user.id }}">
										<div class="product-body">
											<h3 class="product-name"><a href="#">{{user.nome}}</a></h3>
											<h4 class="product-price">{{user.email}}</h4>
										</div>
										<div class="add-to-cart">
												<a href="{% url 'apaga_user_admin' user.id %}" onclick="return confirm('Deseja apagar este usuário?');"><button class="add-to-cart-btn"><i class="fa fa-times"></i>Apagar</button></a>
										</div>
									</div>
									{% endfor %}
								</div>
								<div id="slick-nav-3" class="products-slick-nav"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer id="footer">
		<div class="section" id="contato">
			<div class="container">
				<div class="row">
					<div class="col-md-3 col-xs-6">
						<div class="footer">
							<h3 class="footer-title">Sobre a AlugaCar</h3>
							<p>Trabalhamos há 62 anos no ramo de aluguel de veículos.</p>
							<ul class="footer-links">
								<li><a href="https://www.google.com/maps/search/?api=1&query=UTFPR+Dois+Vizinhos"><i
											class="fa fa-map-marker"></i>Avenida 08 de Setembro, 4488, Dois Vizinhos -
										PR</a></li>
								<li><a href="tel:4655666589"><i class="fa fa-phone"></i>(46) 5566-6589</a></li>
								<li><a href="mailto:contato@alugacar.com.br"><i
											class="fa fa-envelope-o"></i>contato@alugacar.com.br</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="bottom-footer" class="section">
			<div class="container">
				<div class="row">
					<div class="col-md-12 text-center">
						<ul class="footer-payments">
							<li><i class="fa fa-cc-visa"></i></li>
							<li><i class="fa fa-credit-card"></i></li>
							<li><i class="fa fa-cc-paypal"></i></li>
							<li><i class="fa fa-cc-mastercard"></i></li>
							<li><i class="fa fa-cc-discover"></i></li>
							<li><i class="fa fa-cc-amex"></i></li>
						</ul>
						<span class="copyright">
							Copyright AlugaCar &copy;
							<script>document.write(new Date().getFullYear());</script>
						</span>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<script src="{% static 'js/jquery.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/slick.min.js' %}"></script>
	<script src="{% static 'js/nouislider.min.js' %}"></script>
	<script src="{% static 'js/jquery.zoom.min.js' %}"></script>
	<script src="{% static 'js/main.js' %}"></script>
</body>
</html>