{% load staticfiles %}
<!DOCTYPE html>
<html lang="pt">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Administrador - Aluga Car</title>
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">
	<link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
	<link type="text/css" rel="stylesheet" href="{% static 'css/slick.css' %}" />
	<link type="text/css" rel="stylesheet" href="{% static 'css/slick-theme.css' %}" />
	<link type="text/css" rel="stylesheet" href="{% static 'css/nouislider.min.css' %}" />
	<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
	<link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}" />
	<link rel="icon" href="{% static 'img/icone.png' %}" />
</head>

<body>
	<!-- HEADER -->
	<header>
		<!-- MAIN HEADER -->
		<div id="header">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<!-- LOGO -->
					<div class="col-md-9">
						<div class="header-logo">
							<img src="{% static '/img/banner.png' %}" alt="" width='225'>
						</div>
					</div>
					<!-- /LOGO -->
					<!-- ACCOUNT -->
					<div class="col-md-3 clearfix">
						<div class="header-ctn">
							<div class="dropdown">
								<a href="{% url 'home_deslog'%}" onclick="return confirm('Deseja sair?');"
									class="dropdown-toggle" aria-expanded="true">
									<i class="fa fa-user"></i>
									<span>Administrador</span></br>
									<b><span>Sair</span></b>
								</a>
							</div>
							<!-- Menu Toogle -->
							<div class="menu-toggle">
								<a href="#">
									<i class="fa fa-bars"></i>
									<span>Menu</span>
								</a>
							</div>
							<!-- /Menu Toogle -->
						</div>
					</div>
					<!-- /ACCOUNT -->
				</div>
				<!-- row -->
			</div>
			<!-- container -->
		</div>
		<!-- /MAIN HEADER -->
	</header>
	<!-- /HEADER -->

	<!-- CORPO -->
	<!-- NAVIGATION -->
	<nav id="navigation">
		<!-- container -->
		<div class="container">
			<!-- responsive-nav -->
			<div id="responsive-nav">
				<!-- NAV -->
				<ul class="main-nav nav navbar-nav">
					<li><a href="/administrador">Início</a></li>
					<li class="active"><a href="/novo/carro">Novo Veículo</a></li>
					<li><a href="/novo/modelo">Novo Modelo</a></li>
					<li><a href="/novo/marca">Nova Marca</a></li>
				</ul>
				<!-- /NAV -->
			</div>
			<!-- /responsive-nav -->
		</div>
		<!-- /container -->
	</nav>
	<!-- /NAVIGATION -->
	<div class="container">
		<div class="newcarro">
			<form method="POST">
				{% csrf_token %}
				</br>
				<label>Descrição</label>
				</br>
				{{form.descricao}}
				</br>
				<label>Disponível</label>
				</br>
				{{form.disponivel}}
				</br>
				<label>Valor diário</label>
				</br>
				{{form.valorDia}}
				</br>
				<label>Marca</label>
				</br>
				{{form.marca}}
				</br>
				<label>Modelo</label>
				</br>
				{{form.modelo}}
				</br>
				<label>Imagem</label>
				</br>
				{{form.caminhoFoto}}
				</br>
				</br>
				<button type="submit"><i class="fa fa-check"></i> Salvar</button></br>
				</br>
			</form>
		</div>
		<div class="apagar">
			{% if carro %}
			<a href="{% url 'apaga_carro' carro.id %}" onclick="return confirm('Deseja apagar este carro?');">
				<button class="secondary-btn"><i class="fa fa-times"></i> Excluir</button>
			</a>
			{% endif %}
		</div>
		</br>
		</br>
	</div>

	<!-- /CORPO -->
	<!-- FOOTER -->
	<footer id="footer">
		<!-- top footer -->
		<div class="section" id="contato">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-3 col-xs-6">
						<div class="footer">
							<h3 class="footer-title">Sobre a AlugaCar</h3>
							<p>Trabalhamos há 62 anos no ramo de aluguel de veículos.</p>
							<ul class="footer-links">
								<li><a href="https://www.google.com/maps/search/?api=1&query=UTFPR+Dois+Vizinhos"><i
											class="fa fa-map-marker"></i>Avenida 08 de Setembro, 4488, Dois Vizinhos -
										PR</a></li>
								<li><a href="tel:4655666589"><i class="fa fa-phone"></i>(46) 5566-6589</a></li>
								<li><a href="mailto:contato@alugacar.com.br"><i
											class="fa fa-envelope-o"></i>contato@alugacar.com.br</a></li>
							</ul>
						</div>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /top footer -->
		<!-- bottom footer -->
		<div id="bottom-footer" class="section">
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-12 text-center">
						<ul class="footer-payments">
							<li><i class="fa fa-cc-visa"></i></li>
							<li><i class="fa fa-credit-card"></i></li>
							<li><i class="fa fa-cc-paypal"></i></li>
							<li><i class="fa fa-cc-mastercard"></i></li>
							<li><i class="fa fa-cc-discover"></i></li>
							<li><i class="fa fa-cc-amex"></i></li>
						</ul>
						<span class="copyright">
							Copyright AlugaCar &copy;
							<script>document.write(new Date().getFullYear());</script>
						</span>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /bottom footer -->
	</footer>
	<!-- /FOOTER -->
	<!-- jQuery Plugins -->
	<script src="{% static 'js/jquery.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/slick.min.js' %}"></script>
	<script src="{% static 'js/nouislider.min.js' %}"></script>
	<script src="{% static 'js/jquery.zoom.min.js' %}"></script>
	<script src="{% static 'js/main.js' %}"></script>
</body>

</html>