{% load staticfiles %}
<!DOCTYPE html>
<html lang="pt">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Aluga Car</title>
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">
	<link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
	<link type="text/css" rel="stylesheet" href="{% static 'css/slick.css' %}" />
	<link type="text/css" rel="stylesheet" href="{% static 'css/slick-theme.css' %}" />
	<link type="text/css" rel="stylesheet" href="{% static 'css/nouislider.min.css' %}" />
	<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
	<link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}" />
	<link rel="icon" href="{% static 'img/icone.png' %}" />
</head>
<script>
	function filtrarMarcas() {
		var selectMarcas = document.getElementById("selectMarcas");
		var s = selectMarcas.selectedIndex;
		var tam = selectMarcas.length;
		var selecionado = "c";
		var ele;
		var divs = document.getElementsByClassName("c1")

		for (var i = 1; i < tam; i++) {
			selecionado = selecionado.concat(String(i))
			if (document.getElementsByClassName(selecionado) != null) {
				ele = document.getElementsByClassName(selecionado)
				for (var j = 0; j < ele.length; j++) {
					ele[j].style.display = "inline"
				}
			}
			selecionado = "c"
		}
		if (s != 0) {
			for (var i = 1; i < tam; i++) {

				if (s == i) {
					if (document.getElementsByClassName(selecionado.concat(String(s))) != null) {
						ele = document.getElementsByClassName(selecionado.concat(String(s)))
						ele = document.getElementsByClassName(selecionado)
						for (var j = 0; j < ele.length; j++) {
							ele[j].style.display = "inline"
						}
					}
				} else {
					if (document.getElementsByClassName(selecionado.concat(String(i))) != null) {
						ele = document.getElementsByClassName((selecionado.concat(String(i))))
						for (var j = 0; j < ele.length; j++) {
							ele[j].style.display = "none"
						}
					}
				}

			}
		}
	}
	function estilo() {
		var d = document.getElementById("id_dataAlugado")
		d.type = "date"
	
		var p = new Date()
		console.log(p)
		s = String(p.getFullYear())
		s = s.concat('-')
		var aux = p.getMonth()+1
		if(aux/10<1){
			s = s.concat('0')
		}
		s = s.concat(String(aux))
		s = s.concat('-')
		aux = p.getDate()
		if(aux /10<1){
			s = s.concat('0')
		}
		s = s.concat(String(aux))
		d.min = s

		if(d.value == ""){
			d.value = s
		}
		
	}

	function alugar(id){
		var dat = document.getElementById("id_dataAlugado").value
		var rota = "/alugar/"+String(id)+"/"+String(dat)
		window.location.href = rota
	}

	window.onload = estilo
</script>
<body>
	<header>
		<div id="header">
			<div class="container">
				<div class="row">
					<div class="col-md-3">
						<div class="header-logo">
							<a href="/" class="logo">
								<img src="{% static '/img/banner.png' %}" alt="" width='225'>
							</a>
						</div>
					</div>
					<div class="col-md-6">
						<div class="header-search">
							<form method="POST">
								{% csrf_token %}
								<select class="input-select" id="selectMarcas" onchange="filtrarMarcas()">
									<option value="0">Todos</option>
									{% for i in marcas %}
									<option value="{{i.nome}}">{{i.nome}}</option>
									{% endfor %}
								</select>
								{{form.dataAlugado}}
								<button class="search-btn" type="submit">Pesquisar</button>
							</form>
							</form>
						</div>
					</div>
					<div class="col-md-3 clearfix">
						<div class="header-ctn">
							<div class="dropdown">
								{% if cliente.nome != "Login" %}
								<a href="{% url 'user_page' %}" class="dropdown-toggle" aria-expanded="true">
									<i class="fa fa-user"></i>
									<span>{{cliente.nome}}</span>

								</a>
								{% endif %}
								{% if cliente.nome == "Login" %}
								<a href="{% url 'login_user' %}" class="dropdown-toggle" aria-expanded="true">
									<i class="fa fa-user"></i>
									<span>{{cliente.nome}}</span>
								</a>
								{% endif %}
							</div>
							<div class="menu-toggle">
								<a href="#">
									<i class="fa fa-bars"></i>
									<span>Menu</span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
	<nav id="navigation">
		<div class="container">
			<div id="responsive-nav">
				<ul class="main-nav nav navbar-nav">
					<li class="active"><a href="/">Início</a></li>
					<li><a href="#veiculos">Veículos</a></li>
					<li><a href="#contato">Contato</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="section">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="section-title">
						<h3 class="title">Destaques</h3>
					</div>
				</div>
				<div class="col-md-12">
					<div class="row">
						<div class="products-tabs">
							<div id="tab1" class="tab-pane active">
								<div class="products-slick" data-nav="#slick-nav-1">
									{% for car in carros %}
									{% if car.disponivel %}
									<div class="product c{{car.marca.id }}">
										<div class="product-img">
											<img src="{% static car.getfoto %}" alt="" height="180">
											<div class="product-label">
												<span class="sale">Oferta</span>
											</div>
										</div>
										<div class="product-body">
											<h3 class="product-name"><a href="#">{{car.descricao}}</a></h3>
											<h4 class="product-price">R$ {{car.valorDia}}</h4>
										</div>
										<div class="add-to-cart">
											<button class="add-to-cart-btn"
												onclick="alugar({{car.id}})">
												<i class="fa fa-car"></i>
												Alugar</button>
										</div>
									</div>
									{% endif %}
									{% endfor %}
								</div>
								<div id="slick-nav-1" class="products-slick-nav"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="section" id="veiculos">
		<div class="container">
			<div class="row">
				{% for car in carros %}
				{% if car.disponivel %}
				<div class="col-md-4 col-xs-6">
					<div class="shop">
						<div class="shop-img">
							<img src="{% static car.getfoto %}" height="250" alt="">
						</div>
						<div class="shop-body">
							<h3>{{car.descricao}}</h3>
							<a onclick="alugar({{car.id}})" class="cta-btn">Alugar <i class="fa fa-arrow-circle-right"></i></a>
						</div>
					</div>
				</div>
				{% endif %}
				{% endfor %}
			</div>
		</div>
	</div>
	<footer id="footer">
		<div class="section" id="contato">
			<div class="container">
				<div class="row">
					<div class="col-md-3 col-xs-6">
						<div class="footer">
							<h3 class="footer-title">Sobre a AlugaCar</h3>
							<p>Trabalhamos há 62 anos no ramo de aluguel de veículos.</p>
							<ul class="footer-links">
								<li><a href="https://www.google.com/maps/search/?api=1&query=UTFPR+Dois+Vizinhos"><i
											class="fa fa-map-marker"></i>Avenida 08 de Setembro, 4488, Dois Vizinhos -
										PR</a></li>
								<li><a href="tel:4655666589"><i class="fa fa-phone"></i>(46) 5566-6589</a></li>
								<li><a href="mailto:contato@alugacar.com.br"><i
											class="fa fa-envelope-o"></i>contato@alugacar.com.br</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="bottom-footer" class="section">
			<div class="container">
				<div class="row">
					<div class="col-md-12 text-center">
						<ul class="footer-payments">
							<li><i class="fa fa-cc-visa"></i></li>
							<li><i class="fa fa-credit-card"></i></li>
							<li><i class="fa fa-cc-paypal"></i></li>
							<li><i class="fa fa-cc-mastercard"></i></li>
							<li><i class="fa fa-cc-discover"></i></li>
							<li><i class="fa fa-cc-amex"></i></li>
						</ul>
						<span class="copyright">
							Copyright AlugaCar &copy;
							<script>document.write(new Date().getFullYear());</script>
						</span>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<script src="{% static 'js/jquery.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/slick.min.js' %}"></script>
	<script src="{% static 'js/nouislider.min.js' %}"></script>
	<script src="{% static 'js/jquery.zoom.min.js' %}"></script>
	<script src="{% static 'js/main.js' %}"></script>
</body>
</html>