{% load staticfiles %}
<!DOCTYPE html>
<html lang="pt">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Aluga Car</title>
		<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">
		<link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
		<link type="text/css" rel="stylesheet" href="{% static 'css/slick.css' %}"/>
		<link type="text/css" rel="stylesheet" href="{% static 'css/slick-theme.css' %}"/>
		<link type="text/css" rel="stylesheet" href="{% static 'css/nouislider.min.css' %}"/>
		<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
		<link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}"/>
		<link rel="icon" href="{% static 'img/icone.png' %}"/>
    </head>
	<body>
		<!-- HEADER -->
		<header>
			<!-- MAIN HEADER -->
			<div id="header">
				<!-- container -->
				<div class="container">
					<!-- row -->
					<div class="row">
						<!-- LOGO -->
						<div class="col-md-3">
							<div class="header-logo">
								<a href="#" class="logo">
									<img src="{% static '/img/banner.png' %}" alt="" width='225'>
								</a>
							</div>
						</div>
						<!-- /LOGO -->

						<!-- SEARCH BAR -->
						<div class="col-md-6">
							<div class="header-search">
								<form>
									<select class="input-select">
										<option value="0">Todos</option>
										<option value="1">Fiat</option>
										<option value="2">Volkswagen</option>
										<option value="3">Ford</option>
									</select>
									<input class="input" placeholder="Pesquisar">
									<button class="search-btn">Pesquisar</button>
								</form>
							</div>
						</div>
						<!-- /SEARCH BAR -->

						<!-- ACCOUNT -->
						<div class="col-md-3 clearfix">
							<div class="header-ctn">
						
								<div class="dropdown">
										
									<a href="{% url 'login_user' %}" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
										<i class="fa fa-user"></i>
										<span>{{cliente.nome}}</span>
										
									</a>
									
								</div>
								<!-- /Cart -->

								<!-- Menu Toogle -->
								<div class="menu-toggle">
									<a href="#">
										<i class="fa fa-bars"></i>
										<span>Menu</span>
									</a>
								</div>
								<!-- /Menu Toogle -->
							</div>
						</div>
						<!-- /ACCOUNT -->
					</div>
					<!-- row -->
				</div>
				<!-- container -->
			</div>
			<!-- /MAIN HEADER -->
		</header>
		<!-- /HEADER -->

		<!-- NAVIGATION -->
		<nav id="navigation">
			<!-- container -->
			<div class="container">
				<!-- responsive-nav -->
				<div id="responsive-nav">
					<!-- NAV -->
					<ul class="main-nav nav navbar-nav">
						<li class="active"><a href="#">Início</a></li>
						<li><a href="#">Veículos</a></li>
						<li><a href="#">Contato</a></li>
					</ul>
					<!-- /NAV -->
				</div>
				<!-- /responsive-nav -->
			</div>
			<!-- /container -->
		</nav>
		<!-- /NAVIGATION -->
		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<!-- shop -->
					<div class="col-md-4 col-xs-6">
						<div class="shop">
							<div class="shop-img">
								<img src="{% static '/img/palio.jpeg' %}" alt="">
							</div>
							<div class="shop-body">
								<h3>Palio Fire</h3>
								<a href="#" class="cta-btn">Alugar <i class="fa fa-arrow-circle-right"></i></a>
							</div>
						</div>
					</div>
					<!-- /shop -->
					<!-- shop -->
					<div class="col-md-4 col-xs-6">
						<div class="shop">
							<div class="shop-img">
								<img src="{% static '/img/palio.jpeg' %}" alt="">
							</div>
							<div class="shop-body">
								<h3>Palio Fire</h3>
								<a href="#" class="cta-btn">Alugar <i class="fa fa-arrow-circle-right"></i></a>
							</div>
						</div>
					</div>
					<!-- /shop -->
					<!-- shop -->
					<div class="col-md-4 col-xs-6">
						<div class="shop">
							<div class="shop-img">
								<img src="{% static '/img/palio.jpeg' %}" alt="">
							</div>
							<div class="shop-body">
								<h3>Palio Fire</h3>
								<a href="#" class="cta-btn">Alugar <i class="fa fa-arrow-circle-right"></i></a>
							</div>
						</div>
					</div>
					<!-- /shop -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->
		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">

					<!-- section title -->
					<div class="col-md-12">
						<div class="section-title">
							<h3 class="title">Mais alugados</h3>
						</div>
					</div>
					<!-- /section title -->
					<!-- Products tab & slick -->
					<div class="col-md-12">
						<div class="row">
							<div class="products-tabs">
								<!-- tab -->
								<div id="tab1" class="tab-pane active">
									<div class="products-slick" data-nav="#slick-nav-1">
										<!-- product -->
										<div class="product">
											<div class="product-img">
												<img src="{% static '/img/palio.jpeg' %}" alt="">
												<div class="product-label">
													<span class="sale">Oferta</span>
												</div>
											</div>
											<div class="product-body">
												<h3 class="product-name"><a href="#">Palio Fire</a></h3>
												<h4 class="product-price">R$25,00</h4>
											</div>
											<div class="add-to-cart">
												<button class="add-to-cart-btn"><i class="fa fa-car"></i> Alugar</button>
											</div>
										</div>
										<!-- /product -->

										<!-- product -->
										<div class="product">
											<div class="product-img">
												<img src="{% static '/img/palio.jpeg' %}" alt="">
												<div class="product-label">
													<span class="sale">Oferta</span>
												</div>
											</div>
											<div class="product-body">
												<h3 class="product-name"><a href="#">Palio Fire</a></h3>
												<h4 class="product-price">R$25,00</h4>
											</div>
											<div class="add-to-cart">
												<button class="add-to-cart-btn"><i class="fa fa-car"></i> Alugar</button>
											</div>
										</div>
										<!-- /product -->
										<!-- product -->
										<div class="product">
											<div class="product-img">
												<img src="{% static '/img/palio.jpeg' %}" alt="">
												<div class="product-label">
													<span class="sale">Oferta</span>
												</div>
											</div>
											<div class="product-body">
												<h3 class="product-name"><a href="#">Palio Fire</a></h3>
												<h4 class="product-price">R$25,00</h4>
											</div>
											<div class="add-to-cart">
												<button class="add-to-cart-btn"><i class="fa fa-car"></i> Alugar</button>
											</div>
										</div>
										<!-- /product -->

										<!-- product -->
										<div class="product">
											<div class="product-img">
												<img src="{% static '/img/palio.jpeg' %}" alt="">
												<div class="product-label">
													<span class="sale">Oferta</span>
												</div>
											</div>
											<div class="product-body">
												<h3 class="product-name"><a href="#">Palio Fire</a></h3>
												<h4 class="product-price">R$25,00</h4>
											</div>
											<div class="add-to-cart">
												<button class="add-to-cart-btn"><i class="fa fa-car"></i> Alugar</button>
											</div>
										</div>
										<!-- /product -->
										<!-- product -->
										<div class="product">
											<div class="product-img">
												<img src="{% static '/img/palio.jpeg' %}" alt="">
												<div class="product-label">
													<span class="sale">Oferta</span>
												</div>
											</div>
											<div class="product-body">
												<h3 class="product-name"><a href="#">Palio Fire</a></h3>
												<h4 class="product-price">R$25,00</h4>
											</div>
											<div class="add-to-cart">
												<button class="add-to-cart-btn"><i class="fa fa-car"></i> Alugar</button>
											</div>
										</div>
										<!-- /product -->
									</div>
									<div id="slick-nav-1" class="products-slick-nav"></div>
								</div>
								<!-- /tab -->
							</div>
						</div>
					</div>
					<!-- Products tab & slick -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->
		<!-- FOOTER -->
		<footer id="footer">
			<!-- top footer -->
			<div class="section">
				<!-- container -->
				<div class="container">
					<!-- row -->
					<div class="row">
						<div class="col-md-3 col-xs-6">
							<div class="footer">
								<h3 class="footer-title">Sobre a AlugaCar</h3>
								<p>Trabalhamos há 62 anos no ramo de aluguel de veículos.</p>
								<ul class="footer-links">
									<li><a href="#"><i class="fa fa-map-marker"></i>Avenida 08 de Setembro</a></li>
									<li><a href="#"><i class="fa fa-phone"></i>(46) 5566-6589</a></li>
									<li><a href="#"><i class="fa fa-envelope-o"></i>contato@alugacar.com.br</a></li>
								</ul>
							</div>
						</div>
					</div>
					<!-- /row -->
				</div>
				<!-- /container -->
			</div>
			<!-- /top footer -->
			<!-- bottom footer -->
			<div id="bottom-footer" class="section">
				<div class="container">
					<!-- row -->
					<div class="row">
						<div class="col-md-12 text-center">
							<ul class="footer-payments">
								<li><a href="#"><i class="fa fa-cc-visa"></i></a></li>
								<li><a href="#"><i class="fa fa-credit-card"></i></a></li>
								<li><a href="#"><i class="fa fa-cc-paypal"></i></a></li>
								<li><a href="#"><i class="fa fa-cc-mastercard"></i></a></li>
								<li><a href="#"><i class="fa fa-cc-discover"></i></a></li>
								<li><a href="#"><i class="fa fa-cc-amex"></i></a></li>
							</ul>
							<span class="copyright">
								Copyright AlugaCar &copy;<script>document.write(new Date().getFullYear());</script>
							</span>
						</div>
					</div>
						<!-- /row -->
				</div>
				<!-- /container -->
			</div>
			<!-- /bottom footer -->
		</footer>
		<!-- /FOOTER -->
		<!-- jQuery Plugins -->
		<script src="{% static 'js/jquery.min.js' %}"></script>
		<script src="{% static 'js/bootstrap.min.js' %}"></script>
		<script src="{% static 'js/slick.min.js' %}"></script>
		<script src="{% static 'js/nouislider.min.js' %}"></script>
		<script src="{% static 'js/jquery.zoom.min.js' %}"></script>
		<script src="{% static 'js/main.js' %}"></script>
	</body>
</html>
